<template>
  <div class="about">
    <h1>About</h1>
    <p>This is the AllAccess app V1.0.0. It is part of the Individual Fontys course.</p>
    <p>Please note that this version is still early stage, and this is only the Vue front-end.</p>
    <p>For future updates, please wait until the next Sprints are finished.</p><br>
    <p>To understand this implementation, please install the Vue Chrome extension.</p>
    <p>This application retrieves data from the API, if the API is running.</p><br>
    <p>Please click <a href="https://gitlab.com/salesjoep/api_allaccess">here</a> to download the API.</p><br>
    <p>Made by Joep Sales.</p>
  </div>
</template>
