<template>
  <div id="app">
    <AddEmployee v-on:add-employee="addEmployee"/>
    <Employees v-bind:employees="employees" v-on:del-employee="deleteEmployee"/>
  </div>
</template>

<script>
  import AddEmployee from "../components/AddEmployee";
  import Employees from "../components/Employees";
  import axios from "axios";
  export default {
    name: 'Home',
    components: {
      Employees,
      AddEmployee
    },
    data(){
      return {
        employees: []
      }
    },
    methods: {
      deleteEmployee(id){
        this.employees = this.employees.filter(employee => employee.id != id)
      },
      addEmployee(newEmployee) {
        this.employees = [...this.employees, newEmployee];
      }
    },

    created(){
      axios.get('http://localhost:8080/api/employees')
      .then(res => this.employees = res.data)
      .catch(err => console.log(err))
    }
  }
</script>

<style>
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }

  .btn{
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
    transition: .2s;
  }

  .btn:hover{
    background: #666;
    transition: .2s;
  }
</style>
