<template>
    <div>
        <form @submit="addEmployee">
            <input type="text" v-model="name" name="title" placeholder="Add Employee">
            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
</template>

<script>
    export default {
        name: "AddEmployee",
        data(){
            return {
                title: ''
            }
        },
        methods: {
            addEmployee(e){
                e.preventDefault();
                const newEmployee = {
                    id: Math.floor(Math.random() * 99999),
                    name: this.name,
                    administrator: false
                }
                this.$emit('add-employee', newEmployee);
                this.title = '';
            }
        }
    }
</script>

<style scoped>
    form {
        display: flex;
    }

    input[type="text"]{
        flex:10;
        padding: 5px;
    }

    input[type=submit]{
        flex: 2;
    }
</style>