<template>
    <div>
        <div v-bind:key="employee.id" v-for="employee in employees">
            <Employee v-bind:employee="employee" v-on:del-employee="$emit('del-employee', employee.id)"/>
        </div>
    </div>
</template>

<script>
    import Employee from "./Employee";
    export default {
        name: "Employees",
        components: {
            Employee
        },
        props: ["employees"]
    }
</script>

<style scoped>

</style>