<template>
    <div class="employee" v-bind:class="{'is-admin':employee.administrator}">
        <p>
            <input type="checkbox" v-on:change="markAdmin">
            {{employee.name}}
            <button @click="$emit('del-employee', employee.id)" class="del">x</button>
        </p>
    </div>
</template>

<script>
    export default {
        name: "Employee",
        props: ["employee"],
        methods: {
            markAdmin(){
                this.employee.administrator = !this.employee.administrator;
            }
        }
    }
</script>

<style scoped>
    .employee{
        background: #f4f4f4;
        padding: 10px;
        border-bottom: 1px #ccc dotted;
    }

    .is-admin{
        text-decoration: line-through;
    }

    .del{
        background: #ff0000;
        color: #fff;
        border: none;
        padding: 5px 9px;
        border-radius: 50%;
        cursor: pointer;
        float: right;
    }
</style>